
.dropdown-align {
    margin-top:22px
}

.top-event-list {
    margin-top:30px
}

.top-8-px {
    margin-top:8px
}

.top-16-px {
    margin-top:16px
}

.top-24-px {
    margin-top:24px
}

.top-32-px {
    margin-top:32px
}

.red-text {
    color:red
}

.red-green {
    color:green
}

.red-orange {
    color:orange
}

.modal-custom {
    width:41%
}

.modal-form {
    padding:20px
} 

.increment-input {
    width:38px
}

.increment-container {
    display:flex;
    .left {
        margin-right:2px
    }
    .right {
        margin-left:4px
    }
}

.card-exp-container {
    display:flex;
    flex-direction:row;

    .year {
        margin-left: 8px;
    }
}

.field-error {
    color:red;
}